@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";


  
  .selector__currency {
    position : relative;
      @include disable-border;
    select {
      @include header-color;
      text-transform : uppercase;
      @include header-style-select;
      width          : 65px;
      margin-left    : 25px;
      }
    }
  .selector__currency:after {
    @include header-style-select-after;
    }
  .selector__currency select:hover {
    cursor : pointer;
    }
  .selector__currency select > option {
    font-size        : 18px;
    outline          : none;
    background-color : $background-color-header;
    }
  
