<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
<app-header></app-header>
    <!--HEADER-->
    <!--SIDEBAR-->
     <app-sidebar></app-sidebar>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content">
      <div class="title-block">
        <h3 class="title">
          Страница покупок <span class="sparkline bar"></span>
        </h3>
      </div>
    </article>
    <!--CONTENT-->
  </div>
</div>
