<div class="auth" >
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo">
           <!--// TODO: Тут сделать логотип-->
          </div>
          Shop Media Market
        </h1>
      </header>
      <div class="auth-content">
         <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
