@import "./../../styles/partials/params";
@import "./../../styles/partials/mixins";
// @import "./vendor";
// @import "./theme";
.auth {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #798b9a;
}

.auth-container {
    width: 100%;
    height: 100%;
    // position: relative;
}

.card {
    background-color: #ffffffc7;
    width: 400px;
    margin: 5% auto;
}

.auth-header {
    border-bottom: 1px solid #798b9a;
}

.auth-container .auth-title {
    color: #7e8794;
    padding: 20px;
    line-height: 30px;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.auth-container .auth-content {
    padding: 15px 35px 35px;
    min-height: 260px;
}