//Colors
$font-color-header-meta: #494949;
$font-color-light-grey: #a2a2a2;
$font-color-gray: #b4b4b4;
$font-color-white: #fff;
$font-color-black: #000;
$font-color-blue: #007aff;
$font-color-red: #FD3F33;
$font-color-green: #42D65A;
$background-color-header: #eeeeee;
$background-color-light-gray: #f5f5f5;
$background-color-gray: #eeeeee;
$background-color-blue: #007aff;
$background-color-light-blue: #5ac8fa;
$background-color-red: #ff3b30;
$background-color-green: #4cd964;
$background-color-white:#ffffff;
$background-transparent: transparent;
//Borders
$outline-green: 1px solid yellowgreen;
$outline-red: 1px solid red;
$border-light-blue: 2px solid $background-color-light-blue;
$border-blue: 2px solid $background-color-blue;
$border-green: 3px solid $background-color-green;
//Sizes
$view-port: 100%;
$block-width: 95%;
$block-max-width: 1760px;
$shop-icon-size: 32px;
//$width: 1768px;
$meta-menu-height: 75px;
$padding-main: 0;
$margin-top-menu : 10px;
