@import "./../../../../styles/partials/params";
@import "./../../../../styles/partials/mixins";
// @import "./../../theme";
// @import "./../../vendor";
.text-xs-center {
    text-align: center;
    @include font-reg(16px);
    color: $font-color-black;
}

form {}

.form-group {
    margin-bottom: 1rem;
}

.form-control.underlined {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
    //border-radius : 0;
    box-shadow: none;
    border-bottom: 1px solid #d7dde4;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #a1a1a1;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

input,
textarea {
    outline: 0;
    // background-color: #ff2e61;
}