<div class="menu-list">
  <select name="categories-menu" id="#">
    <option selected>Shop by Category</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
