@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";

.menu-list{
  height           : 70px;
  width            : 370px;
  //margin-top       : $margin-top-menu;
  border-radius    : 4px;
  background-color : $background-color-blue;
  //background-color : $background-color-red;
  cursor           : pointer;
  //@include fill;
  position : relative;
  //@include disable-border;
  }

.menu-list:after {
  content        : "";
  border-style   : solid;
  border-width   : 7px 7px 0 7px;
  border-color   : #fff transparent transparent transparent;
  pointer-events : none;
  position       : absolute;
  top            : 50%;
  right          : 30px;
  z-index        : 1;
  margin-top     : -2px;
  }
.menu-list select {
  color              : $font-color-white;
  @include font-reg(21px);
  text-transform     : uppercase;
  -webkit-appearance : none;
  -moz-appearance    : none;
  appearance         : none;
  @include fill;
  padding            : 0 30px;
  background         : none;
  border             : none;
  cursor             : pointer;
  option {
    background-color : $background-color-header;
    color            : $font-color-header-meta;
    }
  }
