<div class="not-found">
    <div class="text-center">
        <h1>404</h1>
        <h1>Страница не найдена</h1>
        <!--<a routerLink="/" >Перейти на главную</a>-->
        <a routerLink="/">перейти на главную</a>
    </div>
</div>