<div class="container__header">
  <div class="header">
    <div class="header__meta-menu">
      <div class="meta-menu">
        <div class="meta-menu__selectors">
          <app-langs></app-langs>
          <app-currency></app-currency>
        </div>
        <div class="meta-menu__menu-about">
          <app-menu-about></app-menu-about>
        </div>
      </div>
    </div>
    <div class="header__info">
      <div class="header-info">
        <div class="header-info__row">
          <div class="header-row">
            <div class="header-row__logo">
              <div class="logo">
                <a href="#" class="logo__link">
                  <span class="logo__bold-text">Media</span>
                  <span class="logo__plain-text">market</span>
                </a>
              </div>
              <!-- /.logo -->
            </div>
            <!-- /.header-row__logo -->
            <div class="header-row__search">
            <app-header-search></app-header-search>
            </div>
            <!-- /.header-row__search -->
            <div class="header-row__shop-info">
            <app-shop-info></app-shop-info>
            </div>
          </div>
          <!-- /.header-row -->
        </div>
        <!-- /.header-info__row -->
       <!--//////////////////-->
        <div class="header-info__row">
          <div class="header-row">
            <div class="header-row__categories">
              
              <app-dropdown></app-dropdown>
              <!-- /.menu-list -->
            </div>
            <!-- /.header-row__categories -->
            <div class="header-row__menu">
              <app-menu-navigation></app-menu-navigation>
            </div>
            <!-- /.header-row__menu -->
            <div class="header-row__cont">
              <div class="cont">
        
              </div>
              <!-- /.cont -->
            </div>
            <!-- /.header-row__cont -->
          </div>
          <!-- /.header-row -->
  
        </div>
        <!-- /.header-info__row -->
       <!--//////////////////-->
      </div>
      <!-- /.header-info -->
    </div>
    <!--/.header__info -->
  </div>
  <!-- /.header -->
</div>
<!-- /.container__header -->
