@import "./../../../../../styles/partials/params";
@import "./../../../../../styles/partials/mixins";

.header {
  &__meta-menu {
    background-color : $background-color-header;
    .meta-menu {
      height          : 68px;
      @include block-width;
      display         : flex;
      justify-content : space-between;
      &__selectors {
        display     : flex;
        align-items : center;
        @include disable-border;
        }
      &__menu-about {
        }
      }
    }
  
  &-info--background {
    }
  
  &__info{
    
    .header-info{
      &__row{
        .header-row{
          height          : 97px;
          display         : flex;
          justify-content : space-between;
          align-items     : center;
          @include block-width;
          &__logo{
            .logo {
              cursor : pointer;
              &__link {
                text-decoration: none;
                @include font-reg(32px);
                color   : $font-color-black;
                display : block;
                padding : 29px 0;
                }
              &__bold-text {
                font-weight : 600;
                }
              &__plain-text {
                font-weight : 400;
                }
              }
            }
          &__search {
            display         : flex;
            justify-content : space-between;
            width           : 50vw;
            height          : 67px;
            margin-bottom: -10px;
            }
          &__shop-info{
            width           : 20%;
            }
          &__categories{
            }
          &__menu{
            width : 73%;
            }
          }
        }
      }
    
    }
    
  }
