@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";

.menu {
  &__topmenu {
    display         : flex;
    justify-content : space-between;
    @include clear-list;
    .menu-item {
      position : relative;
      &__link {
        display         : block;
        text-decoration : none;
        text-transform  : uppercase;
        @include font-reg(22px, 600);
        color           : $font-color-header-meta;
        padding         : 5px;
        margin-left     : 5px;
        }
      &__link:hover,
      .menu-item_fa-angle-down:hover {
        color : $font-color-blue;
        }
      .menu-item_fa-angle-down {
        color    : $font-color-header-meta;
        position : absolute;
        right    : -15px;
        top      : 30%;
        cursor   : pointer;
        }
      &__submenu {
        @include clear-list;
        background       : $background-color-white;
        position         : absolute;
        left             : 0;
        top              : 100%;
        z-index          : 5;
        width            : 100%;
        opacity          : 0;
        transform        : scaleY(0);
        transform-origin : 0 0;
        transition       : .3s ease-in-out;
        .submenu-item {
          &__link {
            text-align      : left;
            padding         : 10px;
            text-decoration : none;
            //text-transform : uppercase;
            @include font-reg(18px);
            color           : $font-color-header-meta;
            border-bottom   : 1px solid rgba(255, 255, 255, .1);
            }
          &__link:hover {
            color : $font-color-blue;
            }
          }
        }
      }
    .menu-item:hover {
      .menu-item__submenu {
        opacity   : 1;
        transform : scaleY(1);
        }
      }
    }
  }
