<nav class="menu">
  <ul class="menu__topmenu">
    <li class="menu-item"><a class="menu-item__link" href="#">Home
    </a>
      <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
      <ul class="menu-item__submenu">
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Home_1</a>
        </li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Home_2</a>
        </li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Home_3</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a class="menu-item__link" href="#">Shop
    </a>
      <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
      
      <ul class="menu-item__submenu">
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Shop_1</a></li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Shop_2</a></li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Shop_3</a></li>
      </ul>
    </li>
    <li class="menu-item"><a class="menu-item__link" href="#">Blog</a>
      <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
      <ul class="menu-item__submenu">
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Blog_1</a>
        </li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Blog_2</a>
        </li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Blog_3</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a class="menu-item__link" href="#">Pages</a>
      <i class="fas fa-angle-down menu-item_fa-angle-down"></i>
      <ul class="menu-item__submenu">
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Pages_1</a>
        </li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Pages_2</a>
        </li>
        <li class="submenu-item"><a class="submenu-item__link"
                                    href="#">Pages_3</a>
        </li>
      </ul>
    </li>
    <li class="menu-item"><a class="menu-item__link" href="#">Products</a></li>
    <li class="menu-item"><a class="menu-item__link" href="#">Brands</a></li>
    <li class="menu-item"><a class="menu-item__link" href="#">Today's Deals</a></li>
    <li class="menu-item"><a class="menu-item__link" href="#">new arrivals</a></li>
  </ul>
</nav>
