<div class="container-main">
<app-header></app-header>
  <div class="container__slider">
    <app-slider-big></app-slider-big>
  </div>
  <div class="container__specials">
 <app-container-specials></app-container-specials>
  </div>
  <div class="container__best-sellers">
 <app-best-sellers></app-best-sellers>
  </div>
  <div class="container__month-deals">
    <app-month-deals></app-month-deals>
  </div>
</div>
                    
