@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";

.search {
  display         : flex;
  justify-content : space-between;
  @include fill;
  @include disable-border;
  border          : 2px solid $background-color-blue;
  border-radius   : 4px 0 0 4px;
  width           : 200%;
  &__textfield {
    height       : 98%;
    width        : 60%;
    margin       : 0;
    border       : 0;
    border       : none;
    padding-left : 22px;
    @include header-color(0.3);
    }
  &__select-block {
    display          : flex;
    align-items      : center;
    position         : relative;
    height           : 100%;
    width            : 26%;
    border           : none;
    margin-right     : -35px;
    border           : 0;
    padding          : 0;
    select {
      @include fill;
      @include header-color(1);
      @include header-style-select;
      cursor : pointer;
      }
    select:after {
      content        : "//";
      color          : black;
      height         : 10px;
      width          : 10px;
      position       : absolute;
      display        : block;
      pointer-events : none;
      }
    }
  &__btn {
    height           : 106%;
    width            : 9%;
    border           : none;
    margin           : -2px -10px 0 0;
    border           : 0;
    padding          : 0;
    background-color : $background-color-blue;
    color            : white;
    font-size        : 30px;
    border-radius    : 0 4px 4px 0;
    cursor           : pointer;
    }
  }
