<div class="search">
  <input type="text" class="search__textfield" placeholder="Search for products..."
         aria-label="search_for_products" aria-describedby="search__textfield">
  <div class="search__select-block">
    <select class="search__select" id="inputGroupSelect04">
      <option selected>All?Categories</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <button class="search__btn" type="button"><i class="fas fa-search"></i></button>
</div>

