<p class="text-xs-center">Регистрация для получения доступа к покупкам</p>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control underlined" id="email"
           placeholder="Введите email"
           formControlName="email"
    >
    <span class="form-help-text"> </span>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" class="form-control underlined" id="password" placeholder="Введите пароль">
  </div>
  <!--USERNAME-->
  <div class="form-group">
    <label for="name">Имя</label>
    <input type="text" class="form-control underlined" id="name"
           placeholder="Введите имя"
           formControlName="username"
    >
    <div *ngIf="username.errors">
      <div *ngIf="username.hasError('required')">
        Username required!
      </div>
    
      <div
        *ngIf="!username.hasError('required') && username.hasError('onlyLetters')">
        Only text allowed!
      </div>
    </div>
    <!--<span class="form-help-text">-->
      <!--Имя не может быть пустым.-->
    <!--</span>-->
  </div>
  <!--USERNAME-->
  <div class="form-group">
    <label for="agree">
      <input class="checkbox" id="agree"
             type="checkbox"
             formControlName="agree"
      >
      <span>Согласен с правилами</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary"
            [disabled]="registrationForm.invalid"
    >
      Зарегистрироваться
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Уже есть аккаунт?
      <a [routerLink]="['/', 'auth', 'login']">
        Войти!
      </a>
    </p>
  </div>
</form>
