<div class="shop-info">
  <!-- /.header-row__info-shop -->
  <div class="shop-info__wishlist">
    <div class="notification wishlist">
      <i class="far fa-heart notification__icon"></i>
      <div class="notification__label">
        <span class="notification_notice">0</span>
        <!-- /.notice -->
      </div>
    </div>
  </div>
  <!-- /.header__wishlist -->
  <div class="shop-info__cart">
    <div class="cart-info">
      <div class="cart-info__cart">
        <div class="notification cart">
          <img class="notification__icon" src="assets/fonts/svg/icon-bag.svg" alt="">
          <div class="notification__label">
            <span class="notification_notice">2</span>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- /.header__cart -->
  <div class="shop-info__total">
    <div class="cart__total">
      <div class="cart-total">$0.00</div>
    </div>
  </div>
  <!-- /.shop-info__total -->
</div>
