@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";

.shop-info {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  .notification {
    position : relative;
    cursor   : pointer;
    &__icon {
      @include shop-icon;
      }
    &__label {
      @include shop-icon;
      background-color : $background-color-gray;
      border-radius    : 50%;
      position         : absolute;
      top              : 50%;
      left             : 70%;
      @include font-reg(18px);
      color            : $font-color-header-meta;
      display          : flex;
      justify-content  : center;
      align-items      : center;
      }
    &__notice {
      }
    }
  //&__wishlist{
  //
  //  }
  //&__cart{
  //   .notification__icon{
  //       @include shop-icon;
  //     }
  //  }
  &__total {
    .cart-total {
      @include font-reg(24px);
      color : $background-color-blue;
      }
    }
    
  }
