@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";

  .menu-about {
   display: flex;
    &__list {
      display: flex;
      @include clear-list;
      }
    &__item {
      margin-left: 48px;
      }
    &__link {
      display: block;
      @include header-color;
      padding: 17px 0 25px;
      text-decoration: none;
      //cursor: pointer;
      }
    }

