﻿  <div class="menu-about">
    <ul class="menu-about__list">
        <li class="menu-about__item">
            <a routerLink="/" class="menu-about__link">Home</a>
        </li>
        <li class="menu-about__item">
            <a href="#" class="menu-about__link">Help & Contact</a>
        </li>
        <li class="menu-about__item">
            <a href="#" class="menu-about__link">Order Status</a>
        </li>
        <li class="menu-about__item">
        <a [routerLink]="['/auth','login']" class="menu-about__link">My Account </a>
        </li>
    </ul>
  </div>

