@import "./../../../../../styles/partials/params";
@import "./../../../../../styles/partials/mixins";

.month-deals {
  @include block-width;
  &__heading {
    display : flex;
    }
  &__heading-links {
    display         : flex;
    justify-content : center;
    flex-grow       : 1;
    }
  &__link {
    display         : flex;
    @include font-reg(24px);
    color           : $font-color-light-grey;
    text-decoration : none;
    padding         : 5px 45px 5px 0;
    }
  &__link:hover {
    color : $font-color-blue;
    }
  &__controls {
    display         : flex;
    justify-content : flex-end;
    }
  
  .month-deals-controls {
    display : flex;
    }
  .mm-slider__btn {
    //background-color: #1f7e9a;
    @include font-reg(24px);
    color : $font-color-light-grey;
    width : 25px;
    &_prev {
      
      }
    & _next {
      
      }
    }
  .mm-slider__btn:hover {
    color : $font-color-blue;
    }
  &__slide {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : space-between;
    align-items     : center;
    align-content   : center;
    margin-top      : 15px;
    border-top      : 2px solid $background-color-gray;
    .month-deals-slide {
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      align-items     : center;
      align-content   : center;
      width           : 21%;
      margin-top      : 30px;
      padding         : 30px;
      border-right    : 2px solid $background-color-gray;
      
      &__label {
        width            : 90%;
        background-color : white;
        display          : flex;
        flex-direction   : row;
        flex-wrap        : nowrap;
        align-items      : center;
        align-content    : center;
        justify-content  : space-between;
        @include font-reg(22px, 300);
        color            : $font-color-gray;
        display          : none;
        .month-deals-slide__label-head {
          @include font-reg(20px);
          color : $font-color-black;
          }
        }
      &__img {
        width  : 240px;
        height : 240px;
        }
      &__prices {
        @include font-reg(18px);
        //width: 45%;
        display : flex;
        //justify-content: space-between;
        .month-deals-slide__price_new {
          color : $font-color-blue;
          }
        .month-deals-slide__price_old {
          color   : $font-color-gray;
          display : none;
          }
        }
      &__heading {
        width      : 70%;
        margin     : 10px auto 10px;
        @include font-reg(20px);
        text-align : center;
        color      : $font-color-gray;
        }
      //////////////////
      &__avail {
        width           : 98%;
        display         : flex;
        justify-content : space-between;
        @include font-reg(18px);
        color           : $font-color-gray;
        }
      &__available {
        display         : flex;
        justify-content : space-between;
        width           : 37%;
        }
      &__qty_avail{
        color: $font-color-green;
        @include font-reg(18px);
        }
      &__sold {
        display         : flex;
        justify-content : space-between;
        width           : 45%;
        }
      &__qty_sold {
        color : $font-color-red;
        @include font-reg(18px);
        }
        
      }
    .month-deals-slide:nth-child(4n) {
      border-right : none;
      }
    }
  }

//////////////////////////////////////////////
@for $i from 0 through 100 {
  .progress_sm progress[value="#{$i}"]
  {
    //& + .progress-value:before { content : '#{$i}%' }
    & ~ .progress-bg .progress-bar { width: $i * 1% }
    }
  }

.progress_sm
{
  font: 12px Arial, Tahoma, sans-serif;
  position: relative;
  overflow: hidden;
  width: 98%;
  margin-top: 15px;
  progress
  {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -777px;
    }
  }

.progress-value
{
  color: #333;
  display: block;
  line-height: 21px;
  text-align: center;
  }

.progress-bg
{
  background: #e6e9ed;
  position: relative;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  }

@-webkit-keyframes progress_bar {
  0% {
    background-position: 0 0;
    }
  100% {
    background-position: -40px 0;
    }
  }
@-moz-keyframes progress_bar {
  0% {
    background-position: 0 0;
    }
  100% {
    background-position: -40px 0;
    }
  }
@keyframes progress_bar {
  0% {
    background-position: 0 0;
    }
  100% {
    background-position: -40px 0;
    }
  }

.progress-bar
{
  overflow: hidden;
  background: #56ec44;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  -webkit-transition: width 1s linear;
  -moz-transition: width 1s linear;
  -ms-transition: width 1s linear;
  transition: width 1s linear;
  &:after
  {
    -webkit-animation: progress_bar 0.8s linear infinite;
    -moz-animation: progress_bar 0.8s linear infinite;
    -ms-animation: progress_bar 0.8s linear infinite;
    -o-animation: progress_bar 0.8s linear infinite;
    animation: progress_bar 0.8s linear infinite;
    
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
  }
/////////////////////////


