<div class="month-deals">
  <div class="month-deals__heading">
    <div class="month-deals__heading-links">
      <a href="#" class="month-deals__link">New Arrivals</a>
      <a href="#" class="month-deals__link">On Sale</a>
      <a href="#" class="month-deals__link">Best Rated</a>
      <a href="#" class="month-deals__link">Popular Products</a>
    </div>
    <div class="month-deals__controls">
      <div class="month-deals-controls mm-slider">
        <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
        <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
      </div>
    </div>
  </div>
  <div class="month-deals__slide month-deals__slide_shown">
    <div class="month-deals-slide" *ngFor="let p of products">
      <div class="month-deals-slide__label">
        <div class="mm-slider__btn"><i class="fas fa-chevron-left mm-slider__btn_prev"></i></div>
        <h2 class="month-deals-slide__label-head">Deals of the month</h2>
        <div class="mm-slider__btn"><i class="fas fa-chevron-right mm-slider__btn_next"></i></div>
      </div>
      <img src="{{ getImagePath(p.image) }}" class="month-deals-slide__img" alt="">
      <div class="month-deals-slide__prices">
        <div class="month-deals-slide__price_new">${{p.cost}}</div>
        <div class="month-deals-slide__price_old">$269.00</div>
      </div>
      <div class="month-deals-slide__heading">{{p.model}} {{ p.name }}</div>
      <div class="month-deals-slide__avail">
        <div class="month-deals-slide__available">
          <div class="month-deals-slide__qty">Available: </div>
          <div class="month-deals-slide__qty_avail">{{ p.quantity - p.sold}}</div>
        </div>
        <div class="month-deals-slide__sold">
          <div class="month-deals-slide__qty">Already Sold:</div>
          <div class="month-deals-slide__qty_sold">{{ p.sold }}</div>
        </div>
      </div>
      <div class="progress_sm">
        <progress max="100" value={{getPercents(p)}}></progress>
        <div class="progress-value"></div>
        <div class="progress-bg">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="month-deals__main-indicator">
    here circle blue indicator
  </div>
</div>
