<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
         <h5>Тут логотип</h5>
        </div>
       <h3> Кабинет пользователя</h3>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu">
        <li class="active">
          <a href="#"> <i class="fa fa-building-o"></i>Текущие покупки</a>
        </li>
        <li>
          <a href="#"> <i class="fa fa-flash"></i>История покупок</a>
        </li>
        <li>
          <a href="#"> <i class="fa fa-heart "></i>Мои желания</a>
        </li>
        <li>
          <a href="#"> <i class="fa fa-plus-square"></i>Запись</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
