@import "./../../../../../styles/partials/params";
@import "./../../../../../styles/partials/mixins";

* {
  //@include outline-all(red);
  }

.best-sellers {
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  height          : 370px;
  padding-top     : 30px;
  @include block-width;
  .best-sellers__col {
    display : flex;
    .best-sellers-info {
      display        : flex;
      flex-direction : column;
      color          : $font-color-black;
      &__year-heading {
        @include font-reg(36px, 600);
        }
      &__year {
        @include font-reg(34px);
        }
      &__slider-controls {
        .slider-controls {
          display         : flex;
          flex-direction  : row;
          justify-content : flex-start;
          &__btn {
            display          : flex;
            justify-content  : center;
            align-items      : center;
            height           : 60px;
            width            : 60px;
            border-radius    : 50%;
            background-color : $background-color-light-gray;
            margin-top       : 25px;
            border           : 2px solid #eeeeee;
            font-size        : 22px;
            color            : $font-color-light-grey;
            cursor           : pointer;
            }
          &__btn:active,
          &__btn:hover,
          &__btn:focus {
            @include disable-outline;
            background-color : $background-color-gray;
            }
          &__prev {
            }
          &__next {
            margin-left : 10px;
            }
          }
        }
      &__link {
        @include font-reg(24px);
        color          : $font-color-blue;
        text-transform : uppercase;
        margin-top     : 30px;
        text-decoration: none;
        }
      }
    .best-sellers-slides {
      display : flex;
      .best-sellers-slides__slide {
        display         : flex;
        flex-direction  : row;
        flex-wrap       : nowrap;
        justify-content : space-between;
        .best-sellers-slide {
          display         : flex;
          flex-direction  : column;
          justify-content : start;
          align-items     : center;
          margin          : 0 30px 20px;
          &__img {
            height : 230px;
            }
          &__text {
            @include font-reg(24px, 600);
            text-transform : uppercase;
            color          : $font-color-black;
            margin-top     : 40px;
            text-decoration: none;
            }
          }
        }
      }
    }
  }
