<div class="best-sellers" id="#best_sellers">
  <div class="best-sellers__col">
    <div class="best-sellers-info">
      <div class="best-sellers-info__year-heading">2017's</div>
      <div class="best-sellers-info__year">Best Selling Products</div>
      <div class="best-sellers-info__slider-controls">
        <div class="slider-controls">
          <button class="slider-controls__btn slider-controls__prev">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="slider-controls__btn slider-controls__next">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <!-- /.slider-controls -->
      </div>
      <!-- /.best-sellers-info__slider-controls -->
      <a class="best-sellers-info__link" href="#">Full Catalog ></a>
      <!-- /.best-sellers-info__link -->
    </div>
  </div>
  <!-- /.best-sellers__col -->
  <div class="best-sellers__col">
    <div class="best-sellers-slides">
      <div class="best-sellers-slides__slide">
        <div class="best-sellers-slide">
          <img class="best-sellers-slide__img" src="assets/img/audio_white.png" alt="">
          <a href="" class="best-sellers-slide__text">audio</a>
          <!-- /.best-sellers-slide__text -->
        </div>
        <!-- /.best-sellers-slide -->
        <div class="best-sellers-slide">
          <img class="best-sellers-slide__img" src="assets/img/tv_premium.png" alt="">
          <a href="" class="best-sellers-slide__text">Premium tv</a>
          <!-- /.best-sellers-slide__text -->
        </div>
        <!-- /.best-sellers-slide -->
        <div class="best-sellers-slide">
          <img class="best-sellers-slide__img" src="assets/img/quadcopter.png" alt="">
          <a href="" class="best-sellers-slide__text">gadgets</a>
          <!-- /.best-sellers-slide__text -->
        </div>
        <!-- /.best-sellers-slide -->
        <div class="best-sellers-slide">
          <img class="best-sellers-slide__img" src="assets/img/notebook.png" alt="">
          <a href="" class="best-sellers-slide__text">tablets</a>
          <!-- /.best-sellers-slide__text -->
        </div>
        <!-- /.best-sellers-slide -->
        <div class="best-sellers-slide">
          <img class="best-sellers-slide__img" src="assets/img/headphones.png" alt="">
          <a href="" class="best-sellers-slide__text">Headphones</a>
          <!-- /.best-sellers-slide__text -->
        </div>
        <!-- /.best-sellers-slide -->
      </div>
      <!-- /.best-sellers-slides__slide -->
    </div>
    <!-- /.best-sellers-slides -->
  </div>
  <!-- /.best-sellers__col -->
</div>
<!-- /.best-sellers -->
