<header class="header">
  <div class="header-block header-block-search">
    12:12:12
  </div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li class="profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button">
                                <span class="name">
                                    Здравствуйте, пользователь
                                </span>
        </a>
        <div class="dropdown-menu profile-dropdown-menu">
          <a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i>Сделать запись</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-power-off icon"></i>Выйти</a>
        </div>
      </li>
    </ul>
  </div>
</header>
