@import "./../../../../../../styles/partials/params";
@import "./../../../../../../styles/partials/mixins";

.selector__langs {
  position : relative;
  @include disable-border;
  select {
    @include header-color;
    text-transform : uppercase;
    @include header-style-select;
    width          : 50px;
    }
  }

.selector__langs:after {
  @include header-style-select-after;
  }

.selector__langs select:hover {
  cursor : pointer;
  }

.selector__langs select > option {
  font-size        : 18px;
  outline          : none;
  background-color : $background-color-header;
  }

